<!DOCTYPE html>
<html>
<head>
    <title>Chat App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script>
        // Your socket code here
    </script>
</head>
<body>
    <div id="chat-container">
        <div id="messages"></div>
        <div id="input-container">
            <input type="text" id="messageInput" placeholder="Type your message">
            <button onclick="sendMessage()">Send</button>
        </div>
    </div>
    <script>
        username='{{username}}'
    </script>
    <script src="{{ url_for('static', filename='chat.js') }}"></script>
</body>
</html>
